.header{
    height: 34vw;
    margin: 30px auto;
    margin-left: 9%;
    background: url('../../../public/header_img.png') no-repeat;
    background-size: contain;
    position:relative;
}

.header-content{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
}

.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-content p{
    color: white;
    font-size: 1vw;
}